{% extends '::layout.html.twig' %}
{% block body %}
    <div style="text-align: center" class="container">


    <script>
        var id = '{{ stateId }}';
        $(document).ready(function() {
            $('input').click(function () {
                var btn = $('#submit_next');
                btn.prop('disabled', false);
                btn.removeClass('btn-default');
                btn.addClass('btn-primary');

            });
        });
    </script>
    <h2>{{ index }}. {{ name }}</h2>
    <p class="lead">{{ content | raw}}</p>
    <form method="post" action="">
        <table align="center">
            {% if position == 'horizon' %}
                <tr>
                    {% for variant in variants %}
                    <td style="padding-right: 10px;">
                        {{ variant.content | raw }}<br>
                        <label> <input type="radio" name="{{ stateId }}" value="{{ variant.value }}"> {{ variant.name | raw }}</label>
                    </td>
                    {% endfor %}
                </tr>
            {% else %}
                {% for variant in variants %}
                    <tr>
                        <td style="padding-right: 10px;">
                            {{ variant.content | raw }}
                        </td>
                        <td>
                            <label> <input type="radio" name="{{ stateId }}" value="{{ variant.value }}"> {{ variant.name }}</label>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <br><br>
        <input type="submit" id="submit_next" class="btn btn-lg btn-default" value="Дальше >>"  disabled title="Выберите один из вариантов">
    </form>
    </div>
{% endblock %}